@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  body {
      font-family: "Lato", sans-serif;
    }

  #arrow-icon {
    color: #9fa3ab !important;
  }  

  #mySidenav {
    width: 250px;
    //font-family: system-ui;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

  }

  #mySidenav  p {
    // width: 250px;
    // //font-family: system-ui;
    // font-family: 'Roboto', sans-serif;
    // font-weight: 400;
    font-size: large;
    color: #9fa3ab;
  }
  
  .sidenav {
    padding-top: 20px !important;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 15px;
  }

  .navbar-items {
    display: flex !important; 
    align-items: baseline;
    height: 40px;
    margin-left: -10px;
    
  }

  .navbar-items > p {
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #toggler {
    margin-top: 12px !important;
  }

  #homeLogo, #userLogo {
    border-bottom-style: double;
    border-bottom-width: thin;
  }

  #userLogo {
    align-items: center;
  }

  #homeLogo > p {
    margin-bottom: 8px !important;
  }

  #arrow-icon {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
  }

  .java-update-container {
    display: block !important;
    padding-left: 20px !important;
    //display: block;
    animation: example;
    animation-duration: 1s;
  }

  .arrowDown {
    transform: rotate(90deg);
  }

  #log-out-btn {
    cursor: pointer; 
    float: right;
    margin-right: 40px;
  }

  // @keyframes example {
  //   0% { height: 0px; }
  //   50% { height: 60px; }
  //   100% { height: 120px; }
  // }