<!-- <app-auth *ngIf="!loggedIn" (emitData)="emittedDataByChild($event)"> </app-auth> -->

<div class="main-content">
  
  <!DOCTYPE html>
  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="toggler" style="margin-left:180px;">
      <span style="font-size:20px; margin-left: 80px; cursor:pointer" (click)="toggleNavbar()"> &#9776; </span>
      <a   id="log-out-btn" href="http://192.168.90.222:8080/Home/LogIn"> Log out </a>
    </div>

    <div id="mySidenav" class="sidenav" (mouseover)="showOnMouseHover()" (mouseout)="hideOnMouseOut()">
      <!-- background-color: #343A40; -->
      <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
      <a id="homeLogo" class="navbar-items" style="align-items: end; margin-left: -19px;">
        <img style="width: 40px;" src="http://192.168.90.252:1112/LTE/dist/img/oppa.png">
        <p class="navbar-item-paragraps" style="margin-bottom: 6px !important;"> Support.oppa.ge </p>
      </a>

      <a id="userLogo" class="navbar-items">
        <i class="fa fa-user" style="color: aliceblue; font-size: xx-large;"> </i>
        <p class="navbar-item-paragraps" style="margin-top: 15px !important;"> Sh.subeliani </p>
      </a>

      <a class="navbar-items" (click)="toggleOnJavaUpdate()">
        <i class="fa fa-wrench" style="color: aliceblue; font-size: large;"></i>
        <p id="java-update-btn" class="navbar-item-paragraps" style="margin-left: 15px !important;"> ჯავას განახლება
        </p>
        <i class="fa fa-angle-right" id="arrow-icon" aria-hidden="true" style="cursor: pointer;"></i>
      </a>

      <div id="java-update" class="java-update-container-toggle" style="display: none;">
        <a class="navbar-items">
          <i class="fa fa-home" style="color: aliceblue; font-size: large;"> </i>
          <p class="navbar-item-paragraps" style="margin-left: 10px;" routerLink="/content"> კონტენტი </p>
        </a>

        <a class="navbar-items">
          <i class="fa fa-code-fork" style="color: aliceblue; font-size: large;"></i>
          <p class="navbar-item-paragraps" style="margin-left: 10px;" routerLink="/soft"> სოფტი </p>
        </a>

        <a class="navbar-items">
          <i class="fa fa-search" style="color: aliceblue; font-size: large;"></i>
          <p class="navbar-item-paragraps" style="margin-left: 10px;" routerLink="/terminalsearch"> ტერმინალის ძებნა
          </p>
        </a>
      </div>


      <a class="navbar-items">
        <!-- <i style='font-size:24px' class='fas'></i> -->
        <i class="fa fa-users" style="color: aliceblue; font-size: inherit;"></i>
        <p routerLink="/profilemanagement" class="navbar-item-paragraps" style="margin-left: 10px;">პროფილების მართვა
        </p>
      </a>

      <a class="navbar-items">
        <i class="fa fa-trash" style="color: aliceblue; font-size: large;"> </i>
        <p class="navbar-item-paragraps" style="margin-left: 10px;" routerLink="/deleteuser">მომხმარებლის წაშლა</p>
      </a>

      <!-- <a class="navbar-items" >
    <i class="fa fa-home" style="color: aliceblue; font-size: x-large;" > </i>
    <p style="margin-left: 10px;">Contact</p>
  </a> -->

    </div>

    <div class="container" id="content-comp-render" *ngIf="softComponentToggle">
      <app-soft> </app-soft>
    </div>
    <router-outlet></router-outlet>
  </body>

  </html>
</div>



