.mat-card {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin-top: 14%;
}

.mat-card-title {
    margin-left: 33% !important;
}

.mat-button {
    padding-left: 0px !important;
}

.mat-button-base {
    padding-left: 0px !important;
}

.mat-button-wrapper {
    margin-left: -20px !important;
}

.login-btn {
    height: 34px;
    padding-top: 5px;
}