
<h1 mat-dialog-title> Delete </h1>
<div mat-dialog-content>
  <div class="d-flex modal-contnt">
    <div class="profile-content d-grid">
      <h3 class="label "> are you sure you want to delete? </h3>
      <!-- <select name="profile" id="profile_id" class="selector">
        <option *ngFor="let item of profIdsList" value="{{item.id}}"> {{item.id}} - {{item.name}} </option>  
      </select> -->
    </div>
  </div>
  
</div>
<div mat-dialog-actions class="mt-4">
  <button mat-button mat-dialog-close class="btn btn-success" (click)="deleteProfile()">Delete</button> 
  <button mat-button mat-dialog-close class="btn btn-danger ms-2">Close</button>
  <!-- <button mat-button mat-dialog-close> {{ ragaca }} </button> -->
</div>
